body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
}
/*#reader {
  width: 300px;
  margin: auto;
}*/
.highlight {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
}


#reader {
  width: 300px;
<<<<<<< HEAD
  /*height: 300px;*/
=======
  height: 300px;
>>>>>>> f8f56bc5c81694f12e1e3e89915f842d30347548
  border: 4px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease;
  margin: auto;
}

#reader.qr-highlight {
  border-color: red;
}
