body {
  height: 100%;
  margin-top: 100px;
  padding: 0;
  background: linear-gradient(135deg, #ff5faf, #79b9f1, #fcb5f8, #39f5de);
  background-size: cover;
  background-attachment: fixed;
  font-family: sans-serif;
}
.highlight {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
}


#reader {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: none; /* ẩn camera reader*/
}


#reader.qr-highlight {
  border-color: red;
  border-width: 4px;
  border-style: solid;
}


#typing {
    color: rgb(13, 29, 18);
    /*border-right: 3px solid white; /* Hiệu ứng con trỏ nhấp nháy */
    font-size: 4vw; /* Chữ bằng 5% chiều rộng màn hình */
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(to right, #ac2df6, #0863ea); /* Màu gradient giống nền */
    background-clip: text; /* Áp dụng gradient lên chữ */
    -webkit-background-clip: text; /* Hỗ trợ trình duyệt WebKit */
    -webkit-text-fill-color: transparent; /* Làm chữ trong suốt để thấy màu gradient */
}

.inline-text {
    font-size: 3vw; /* Kích thước chữ 4vw căn theo thiết bị */
    font-weight: bold; /* Chữ in đậm */
    color: #000000; /* Màu chữ trắng */
    margin-top: 150px; /* Tạo khoảng cách giữa các dòng chữ */
    text-align: center; /* Căn giữa chữ */
}

.scanner-container {
            width: 90%;
            max-width: 500px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            padding: 30px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            text-align: center;
            margin: 0 auto;
        }



#startBtn, #stopBtn {
  margin-top: 2px; /* Khoảng cách trên nút */
  background: linear-gradient(-15deg, #171973, #cfbce7,#e160f3,#8e7ffe);
  color: white; /* Màu chữ */
  padding: 10px 20px; /* Khoảng cách trong nút */
  border: none; /* Không viền */
  border-radius: 35px; /* Bo góc */
  cursor: pointer; /* Hiệu ứng con trỏ khi hover */
  font-size: 16px; /* Kích thước chữ */
  font-size: 20px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}        

/*

.banner1 {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.banner2 {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.banner3 {
  position: fixed;
  top: 250px;
  right: 10px;
  z-index: 999;
}

.banner4 {
  position: fixed;
  bottom: 200px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}

.banner5 {
  position: fixed;
  bottom: 100px;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%);
}

.banner6 {
  position: fixed;
  top: 250px;
  left: 10px;
  z-index: 999;
}


@media (max-width: 768px) {
  .banner1, .banner2, .banner3, .banner4, .banner5, .banner6 {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: auto !important;
    z-index: 9999 !important;
  }

  iframe {
    width: 100% !important;
    height: auto !important;
  }
}
  */
