body {
  font-family: Arial;
  text-align: center;
  margin-top: 40px;
  background: linear-gradient(to bottom, #dfa6ef, #ec93c7); /* Gradient từ đen sang xanh đậm */
  height: 100vh; /* Chiều cao bằng 100% chiều cao màn hình */
}
/*#reader {
  width: 300px;
  margin: auto;
}*/
.highlight {
  color: green;
  font-weight: bold;
}
.error {
  color: red;
}


/*#reader {
  width: 300px;

  border: 4px solid transparent;
  border-radius: 10px;
  transition: border 0.3s ease;
  margin: auto;
}*/

#reader {
  width: 100%;
  max-width: 500px;
  margin: auto;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: none; /* ẩn camera reader*/
}


#reader.qr-highlight {
  border-color: red;
  border-width: 4px;
  border-style: solid;
}


#typing {
    color: rgb(13, 29, 18);
    /*border-right: 3px solid white; /* Hiệu ứng con trỏ nhấp nháy */
    font-size: 3vw; /* Chữ bằng 5% chiều rộng màn hình */
    white-space: nowrap;
    overflow: hidden;
    background: linear-gradient(to right, #ac2df6, #0863ea); /* Màu gradient giống nền */
    background-clip: text; /* Áp dụng gradient lên chữ */
    -webkit-background-clip: text; /* Hỗ trợ trình duyệt WebKit */
    -webkit-text-fill-color: transparent; /* Làm chữ trong suốt để thấy màu gradient */
}

.inline-text {
    font-size: 2vw; /* Kích thước chữ 4vw căn theo thiết bị */
    font-weight: bold; /* Chữ in đậm */
    color: #000000; /* Màu chữ trắng */
    margin-top: 20px; /* Tạo khoảng cách giữa các dòng chữ */
    text-align: center; /* Căn giữa chữ */
}